<% provide(:title, '投稿一覧') %>
<div class="row">

  <!--side navigation-->
  <%= render :partial => 'sidenavigation' %>

  <!--main content-->
  <div class="col s12 m8 l9">
    <ul class="collection">
      <% @posts.each do |post| %>

          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title"><%= post.title %></span>
            <p>
              <%= post.content %>
            </p>
            <a href="/posts/<%= post.id %>" class="secondary-content"><i class="material-icons">details</i></a>
          </li>
      <% end %>
    </ul>
    <div class="fixed-action-btn" >
      <a href="/posts/new" class="btn-floating btn-large waves-effect waves-light red">
        <i class="material-icons">add</i>
      </a>
    </div>
  </div>

</div>

