<h1>投稿一覧</h1>
<ul class="collection">
  <% @posts.each do |post| %>

  <li class="collection-item avatar">
    <i class="material-icons circle">folder</i>
    <span class="title"><%= post.title %></span>
    <p>
      <%= post.content %>
    </p>
    <a href="#!" class="secondary-content"><i class="material-icons">見る</i></a>
  </li>
  <% end %>
</ul>
