<% provide(:title, '投稿詳細') %>
<!-- Page Layout here -->
<div class="row">

  <!--side navigation-->
  <%= render :partial => 'sidenavigation' %>

  <!--main content-->
  <div class="col s12 m8 l9 teal-page-content"> <!-- Note that "m8 l9" was added -->
    <!-- Teal page content

          This content will be:
      9-columns-wide on large screens,
      8-columns-wide on medium screens,
      12-columns-wide on small screens  -->
    <h2><%= @post.title %></h2>
    <div>
      <%= @post.content %>
    </div>
  </div>
</div>