// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "materialize/components/color";
@import "materialize";

html, body, div {
  height: 100%;
}

.gray-navigation {
  background-color: lightgrey;
  height: 100%;
  min-height: 100%;
  width: 100%;
}